importFrom("pracma", "interp1")
importFrom("pracma", "fmincon")
importFrom("pracma", "trapz")
importFrom("adaptMCMC", "MCMC")
import("NlcOptim")
import("ggplot2")
importFrom("gridExtra", "grid.arrange")
importFrom("grDevices", "pdf")
importFrom("stats", "density", "dnorm", "runif", "sd")
importFrom("utils", "combn")
export(diffeo_log_likelihood)
export(diffeo_mle_estimate)
export(diffeo_bayes_estimate)
